/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
body{
    font-family: "Montserrat", sans-serif;
}
/* .main-input{
    background-color: #ffffff;
} */

@layer components{
    .btn{
        @apply disabled:bg-gray-500 disabled:cursor-not-allowed bg-cyan-800 text-3xl text-amber-50 border border-b-blue-950 py-1.5 w-full cursor-pointer  hover:bg-blue-950 transition-all;
    }
    .main-input{
        @apply block rounded-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600
    }
    .main-lapel{
        @apply absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto
    }
}